.movie{
    display:flex;
    border-bottom:1px solid #ccc;
    margin:5px;
    padding: 5px;
}
.movie-wrapper{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
img{
    width:150px;
}
h1,h2,h3,h4,h5,h6{
    margin:0;
}

.movie.paint{
    background: #ccc;
}